<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marvelapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_avatar"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_avatar"
        android:supportsRtl="true"
        android:theme="@style/MarvelAppTheme">
        <activity android:name="com.jenandsara.marvelapp.alterarsenha.view.AlterarSenhaActivity" />
        <activity android:name="com.jenandsara.marvelapp.login.view.LoginActivity" />
        <activity android:name="com.jenandsara.marvelapp.detalhes.view.DetalhesActivity"/>
        <activity android:name="com.jenandsara.marvelapp.cadastro.view.CadastroActivity"/>

        <activity android:name="com.jenandsara.marvelapp.splashscreen.view.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.jenandsara.marvelapp.home.view.HomeActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>