<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marvelapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_avatar"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_avatar"
        android:supportsRtl="true"
        android:theme="@style/MarvelAppTheme">
        <activity android:name=".alterarsenha.AlterarSenhaActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".detalhes.view.DetalhesActivity"/>
        <activity android:name=".cadastro.CadastroActivity"/>

        <activity android:name=".splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>
        <activity android:name=".home.view.HomeActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>